@charset "windows-1251";

#wait{
    position:fixed;
    display:none;
    background-color:wheat;
    width:100vw;
    height:100vh;
}

#id {
    
    width: 200px;
    border: 2px solid black;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
}
    #id li {
        text-align: left;
        color: wheat;
        font-size: 13px;
        text-shadow: 2px 2px 2em black, 0 0 3em black;
    }

.good{
    border: 3px solid black;
    border-radius:10px;
}
.good img{
    float:left;
    width: 50px;
    height: auto;
}